<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/MyCss.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/js/all.min.js"></script>
</head>
<body>

    <header>
        <nav>
            <div class="container">
                <ul>
                    <li><a href="#"><img src="~/Content/img/logo.png" alt="" /></a></li>

                    <li>
                        <div class="search-container">
                            <input type="text" class="isearch" placeholder="Tìm Kiếm" />
                            <button class="btn-search" style="width: auto; background-color: white; border: none; position: absolute; right: 15px; top: 50%; transform: translateY(-50%); font-size: 15px; cursor:pointer; ">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </li>
                    <li>
                        <div class="icon-phone" style="display: inline-block; vertical-align: top; margin-top:5px;">
                            <i class="fas fa-phone"></i>
                        </div>
                        <div class="contact-info" style="display: inline-block;">
                            <a href="#" style="font-weight: bold; display: block; font-size: 12px;">0911.825.753</a>
                            <a href="#" style="display: block; font-size: 12px;">7:00 - 22:00</a>
                        </div>
                        <span class="line1">|</span>
                    </li>
                    <li>
                        <div class="icon-address" style="display: inline-block; vertical-align: top; margin-top:5px;">
                            <i class="fas fa-map-marker-alt"></i>
                        </div>
                        <div class="Diachi" style="display: inline-block;">
                            <a href="#" style="display: block; font-size: 12px; font-weight: bold;">Địa Chỉ</a>
                            <a href="#" style="display: block; font-size: 12px; font-weight: bold;">Cửa Hàng</a>
                        </div>
                        <span class="line2">|</span>
                    </li>

                    <li>
                        <div class="icon-login" style="display: inline-block; vertical-align: top; margin-top:5px;">
                            <i class="fas fa-user"></i>
                        </div>
                        <div class="login-register" style="font-weight:bold; display:inline-block; vertical-align:top;">
                            <a href="#" style="display:block; font-size:12px; font-weight:bold;">Đăng nhập</a>
                            <a href="#" style="display:block; font-size:12px; font-weight:bold;">Đăng ký</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    
        @*// sidebar trái*@
<div class="tongtrang">
    <span>Trang chủ </span><span style="color: #686565;">  → Quyền Lợi khách hàng thành viên  </span>
</div>
        <div class="sidebar">
            <h3>Thương Hiệu</h3>
            <label><input type="checkbox" /> Khác</label>
            <label><input type="checkbox" /> Cty CP TP Bich Chi - 45X1 Nguyen Sinh Sac,Thi xa Sa Dec, Dong Thap</label>
            <label><input type="checkbox" /> Cty CP tap doan Trung Nguyen - 82-84 Bui Thi Xuan,P.Ben Thanh,Q1, HCM</label>
            <label><input type="checkbox" /> Cty CP HTD MaSan(Nuoc+cafe) - Tang12,Toa nha Kumho,39 Le Duan, P. Ben Nghe,Q1, Tp.HCM</label>
            <label><input type="checkbox" /> Cty TNHH MTV Thai Kien - 135/37/50 Nguyen Huu Canh,P22,Q.BT, HCM</label>
            <a href="#" style="color: #d3691e; background-color: #f4f4f4; margin-bottom:15px;margin-top:15px; ">xem thêm</a>
            <h3 style="margin-bottom: 30px; margin-top: 15px;">Loại sản phẩm</h3>
            <label><input type="checkbox" /> Nước - Nước Giải Khát</label>
            <label><input type="checkbox" /> Bánh - Snack Khô</label>
            <h3 style="margin-bottom:30px; margin-top:15px;">Giá</h3>
            <label><input type="checkbox" /> < 30,000₫</label>
            <label><input type="checkbox" /> 30,000₫ - 50,000₫</label>
            <label><input type="checkbox" /> 50,000₫ - 100,000₫</label>
            <label><input type="checkbox" /> 100,000₫ - 200,000₫</label>
            <label><input type="checkbox" /> > 200,000₫</label>
        </div>

        @*// sản phẩm*@

        <div class="product-area">
            <div class="product">
                <img src="~/Content/img/Bánh/3003492_banh_an_sang_nestle_milo_150g_84d03b5e979b4a609df68e8468939645_3f6cfd80c59d4298a6b7d3210e2bb770_grande.png" alt="Sản phẩm 1" style="width:200px" />
                <div class="product-info">
                    <h4>Bánh Ăn Sáng Milo</h4>
                    <div class="product-price" style="color: #d3691e">62.500 VND</div>
                </div>
                <div class="quantity-controls">
                    
                    <input type="number" value="1" min="1" />
                    
                </div>
                <button class="btn-mua">Chọn Mua</button>
            </div>

            <div class="product">
                <img src="~/Content/img/Bánh/gao_ricchy_jinju_bo_nuong_tieu_134.4g_666b365696b44f7c9f306db9eb8cc614_04e05a6f08364ead88ada2d9a3ff9249_grande.png" alt="Sản phẩm 1" style="width:200px" />
                <div class="product-info">
                    <h4>Bánh Gạo Ricchy</h4>
                    <div class="product-price" style="color: #d3691e">25.500 VND</div>
                </div>
                <div class="quantity-controls">
                    
                    <input type="number" value="1" min="1" />
                   
                </div>
                <button class="btn-mua">Chọn Mua</button>
            </div>
            <div class="product">
                <img src="~/Content/img/Bánh/3487241_mi_snack_vifon_pho_mai_goi_30g_ac113524b4644712b53d5fe1f2fd3f67_grande.png" alt="Sản phẩm 1" style="width:200px" />
                <div class="product-info">
                    <h4>Mì Snack Vifron Phô Mai</h4>
                    <div class="product-price" style="color: #d3691e">6.000 VND</div>
                </div>
                <div class="quantity-controls">
                    
                    <input type="number" value="1" min="1" />
                    
                </div>
                <button class="btn-mua">Chọn Mua</button>
            </div>
            <div class="product">
                <img src="~/Content/img/Bánh/183_banh_gao_one_one_pho_mai_ngo_118g_31f6c405767b4edcbcbbab545b337fc9_319a6b5d71df4a95890980eb77ce1b51_grande.png" alt="Sản phẩm 1" style="width:200px" />
                <div class="product-info">
                    <h4>Bánh Gạo One One</h4>
                    <div class="product-price" style="color: #d3691e">35.000VND</div>
                </div>
                <div class="quantity-controls">
                    
                    <input type="number" value="1" min="1" />
                    
                </div>
                <button class="btn-mua">Chọn Mua</button>

            </div>
            <hr style=" border: none; border-top: 1px solid #ccc; margin-bottom:20px 0; width: 100%;">
            <div class="product">
                <img src="~/Content/img/Bánh/3276843_banh_koala_s_march_dau_hop_giay_37g_57101e6eeb5a455cb1316e03cd34eb0b_grande.png" alt="Sản phẩm 1" style="width:200px" />
                <h4>Bánh Koala`March Dâu</h4>
                <div class="product-price" style="color: #d3691e">18.500 VND</div>

                <div class="quantity-controls">
                    
                    <input type="number" value="1" min="1" />
                   
                </div>

                <button class="btn-mua">Chọn Mua</button>
            </div>
            <div class="product">
                <img src="~/Content/img/Bánh/3199550_banh_koala_s_march_choco_hop_giay_37g_48018d7a3ef84c78bde5b7e4768057f6_grande.png" alt="Sản phẩm 1" style="width:200px" />
                <div class="product-info">
                    <h4>Bánh Koala`March Choco</h4>
                    <div class="product-price" style="color: #d3691e">18.500 VND</div>
                </div>
                <div class="quantity-controls">
                    
                    <input type="number" value="1" min="1" />
                    
                </div>
                <button class="btn-mua">Chọn Mua</button>
            </div>
            <div class="product">
                <img src="~/Content/img/Bánh/3526983_keo_deo_boom_vi_dau_52.5g_f5c0eb9510d34b5983d64384ed741583_grande.png" alt="Sản phẩm 1" style="width:200px" />
                <h4>Kẹo Dẻo BOOM Vị Dâu</h4>
                <div class="product-price" style="color:#d3691e">14.000 VND</div>

                <div class="quantity-controls">
                    
                    <input type="number" value="1" min="1" />
                    
                </div>
                <button class="btn-mua">Chọn Mua</button>
            </div>
            <div class="product">
                <img src="~/Content/img/Bánh/3526981_keo_deo_boom_vi_dao_52.5g_45d47cc01e0f44638bc839df6cdaa57b_grande.png" alt="Sản phẩm 1" style="width:200px" />
                <div class="product-info">
                    <h4>Kẹo Dẻo BOOM Vị Đào</h4>
                    <div class="product-price" style="color: #d3691e">14.000 VND</div>
                </div>
                <div class="quantity-controls">
                    
                    <input type="number" value="1" min="1" />
                    
                </div>
                <button class="btn-mua">Chọn Mua</button>
            </div>

        </div>
   
    <div class="chuyentrang" style="padding-left:715px; margin-bottom:50px;">
        <span>← Trang trước  1 </span><span> 2  Trang sau  →</span>
    </div>
    <footer class="footer">
        <div class="footer-container">
            <div class="footer-column" style="color: #6e7283;">
                <img src="~/Content/img/fot_logo.png" class="footer-img" />
                <p>Cửa hàng - bách hóa<br /> hiện đại Co.opSmile<br /> là thành viên của nhà<br /> bán lẻ hàng đầu<br /> Việt Nam Saigon Co.op</p>
                <p style="margin-top:20px;">Đ/c văn phòng:<br /> 131 Điện Biên Phủ, Phường 15, Quận Bình Thạnh, Tp. HCM</p>
                <p>info@coopsmile.vn</p>
                <p>0911.825753</p>
            </div>
            <div class="footer-column">
                <h3 style="color:#45534c;">Hỗ trợ khách hàng</h3>
                <ul>
                    <li><a href="#">Điều khoản dịch vụ</a></li>
                    <li><a href="#">Chính sách bảo mật</a></li>
                    <li><a href="#">Chính sách đặt hàng</a></li>
                    <li><a href="#">Chính sách giao nhận</a></li>
                    <li><a href="#">Chính sách đổi trả hàng</a></li>
                    <li><a href="#">Xuất hóa đơn GTGT</a></li>
                </ul>
            </div>
            <div class="footer-column">
                <h3 style="color:#45534c;">Thông tin</h3>
                <ul>
                    <li><a href="#">Giới thiệu về Co.opSmile</a></li>
                    <li><a href="#">Câu chuyện thương hiệu</a></li>
                    <li><a href="#">Tuyển dụng</a></li>
                    <li><a href="#">Hệ thống cửa hàng</a></li>
                    <li><a href="#">Thông tin hỗ trợ khách hàng</a></li>
                </ul>
            </div>
            <div class="footer-column">
                <h3 style="color:#45534c;">Thông tin hữu ích</h3>
                <ul>
                    <li><a href="#">Quyền lợi thẻ thành viên</a></li>
                    <li><a href="#">Khuyến mãi nổi bật</a></li>
                    <li><a href="#">Thông tin - Sự kiện</a></li>
                </ul>
            </div>
            <div class="footer-column">
                <h3 style="color: #6e7283;">Chứng nhận</h3>
                <img src="~/Content/img/fot_chung_nhan.png" class="footer-certification" />
            </div>
        </div>
    </footer>
    <div>

        @RenderBody()
    </div>
</body>

</html>
