<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/MyCss.css" rel="stylesheet" />
</head>
<body>
    <footer class="footer">
        <div class="footer-container">
            <div class="footer-column" style="color: #6e7283;">
                <img src="~/Content/img/fot_logo.png" class="footer-img" />
                <p>Cửa hàng - bách hóa<br /> hiện đại Co.opSmile<br /> là thành viên của nhà<br /> bán lẻ hàng đầu<br /> Việt Nam Saigon Co.op</p>
                <p style="margin-top:20px;">Đ/c văn phòng:<br /> 131 Điện Biên Phủ, Phường 15, Quận Bình Thạnh, Tp. HCM</p>
                <p>info@coopsmile.vn</p>
                <p>0911.825753</p>
            </div>
            <div class="footer-column">
                <h3 style="color:#45534c;">Hỗ trợ khách hàng</h3>
                <ul>
                    <li><a href="#">Điều khoản dịch vụ</a></li>
                    <li><a href="#">Chính sách bảo mật</a></li>
                    <li><a href="#">Chính sách đặt hàng</a></li>
                    <li><a href="#">Chính sách giao nhận</a></li>
                    <li><a href="#">Chính sách đổi trả hàng</a></li>
                    <li><a href="#">Xuất hóa đơn GTGT</a></li>
                </ul>
            </div>
            <div class="footer-column">
                <h3 style="color:#45534c;">Thông tin</h3>
                <ul>
                    <li><a href="#">Giới thiệu về Co.opSmile</a></li>
                    <li><a href="#">Câu chuyện thương hiệu</a></li>
                    <li><a href="#">Tuyển dụng</a></li>
                    <li><a href="#">Hệ thống cửa hàng</a></li>
                    <li><a href="#">Thông tin hỗ trợ khách hàng</a></li>
                </ul>
            </div>
            <div class="footer-column">
                <h3 style="color:#45534c;">Thông tin hữu ích</h3>
                <ul>
                    <li><a href="#">Quyền lợi thẻ thành viên</a></li>
                    <li><a href="#">Khuyến mãi nổi bật</a></li>
                    <li><a href="#">Thông tin - Sự kiện</a></li>
                </ul>
            </div>
            <div class="footer-column">
                <h3 style="color: #6e7283;">Chứng nhận</h3>
                <img src="~/Content/img/fot_chung_nhan.png" class="footer-certification" />
            </div>
        </div>
    </footer>
    <div>
        @RenderBody()
    </div>
</body>
</html>
