<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/MyCss.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/js/all.min.js"></script>
</head>
<body>
    <div class="tongtrangthongtin">
        <span>Trang chủ </span><span style="color: #686565;">  → Thông tin  </span>
    </div>
    <div class="container">
        <div class="Baiviet">
            <div class="Baiviet-img">
                <img src="~/Content/img/Thong Tin/kv-cs-01_8406011e439b473fa1fde59e48304ab8_1024x1024.jpg" style="float:left;width:200px;" />

                <div class="ND">
                    <h2>35 NĂM - TỰ HÀO HÀNG VIỆT - ĐI CHỢ HĂNG SAY, NHẬN QUÀ LIỀN TAY!</h2>
                    <p><i class="fa fa-calendar"></i> 28-08-2024 / <i class="fa fa-user"></i> Nguyễn Kim Ngân</p>
                    <p>Chào mừng chuỗi sự kiện "35 năm - Tự hào hàng Việt" – Đi chợ hăng say, nhận quà liền tay!Từ ngày 29/08 đến 18/09, Co.opSmile tung ngay 3 chương trình khủng cho cả nhà săn deal nhiệt tình, rủng rỉnh nhận quà:1. Tập Coupon "siêu ưu đãi" - với 9 sản phẩm/combo giá cực sốc (29/8 - 18/9/2024): Mỗi hóa đơn từ 200k, khách hàng thân thiết có thẻ KHTV nhận ngay tập Coupon xịn sò, mua sắm tẹt...</p>
                    <div class="link">
                        <a href="#" style="color: #7489ba;">Xem chi tiết</a>
                    </div>
                </div>
            </div>

            <div class="Baiviet-img">
                <img src="~/Content/img/Thong Tin/a5-vi-vu-du-lich_-01_e2b2e99a588a425196cb7ff0556440c4_1024x1024.jpg" style="width:200px;  " />

                <div class="ND">
                    <h2>CHƯƠNG TRÌNH KHUYẾN MÃI CHÀO HÈ TẠI COOP-SMILE</h2>
                    <p><i class="fa fa-calendar"></i> 28-08-2024 / <i class="fa fa-user"></i> Nguyễn Kim Ngân</p>
                    <p>Đón hè rực lửa cùng các chương trình khuyến mãi hấp dẫn tại Co.opSmile từ ngày 13/06 - 03/07/2024 cả nhà ơi!1. CHƯƠNG TRÌNH NGÀY HỘI GIA ĐÌNH VI VU DU LỊCH Khách hàng mua sắm hoá đơn từ 200.000₫ trở lên trong đó có ít nhất 01 sản phẩm nước uống sữa chua Nutriboost cam/ việt quất 170ml sẽ nhận ngay 01 mã quay số trúng thưởng cùng các phần quà giá trị:* 3 giải đặc biệt: Voucher du lịch trị giá...</p>

                    <div class="link">
                        <a href="#" style="color: #7489ba;">Xem chi tiết</a>
                    </div>
                </div>

            </div>
            <div class="Baiviet-img">
                <img src="~/Content/img/Thong Tin/8.3.24_970041c3a5c64f478869fa582620aea1_1024x1024.jpg" style="width:200px;" />

                <div class="ND">
                    <h2>THÁNG 3 GÕ CỬA- ÚM BA LA RA QUÀ</h2>
                    <p><i class="fa fa-calendar"></i> 28-08-2024 / <i class="fa fa-user"></i> Nguyễn Kim Ngân</p>
                    <p>Mừng ngày Quốc Tế Phụ Nữ 8/3, Co.opSmile xin dành những lời chúc tốt đẹp nhất tới toàn thể Quý khách hàng luôn luôn xinh đẹp và nhiều hạnh phúc trong cuộc sống.Với mong muốn mang lại niềm vui trong ngày lễ yêu thương này, cả nhà đừng quên ghé Co.opSmile mua sắm và tham gia chương trình khuyến mãi "8/3 - Úm ba la ra quà" Tặng ngay 01 chai sữa tắm Enchanteur Charming 180g trị giá 64.000đ duy nhất...</p>
                    <div class="link">
                        <a href="#" style="color: #7489ba;">Xem chi tiết</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Phần sidebar -->
        <div class="Baivietlq">
            <h3>Bài viết liên quan</h3>
            <a href="#">Giới thiệu về Co.opSmile</a>
            <a href="#">Câu chuyện thương hiệu</a>
            <a href="#">Tuyển dụng</a>
            <a href="#">Hệ thống cửa hàng</a>
            <a href="#">Thông tin hỗ trợ khách hàng</a>

            <h3>Tags</h3>
            <div class="tags">
                <span>co.opsmile</span>
                <span>thagatichdien</span>
                <span>tiện ích</span>
                <span>khachhangthanvhien</span>
                <span>canhavuay</span>
                <span>mẹo vặt hay</span>
                <span>phòng chống dịch covid</span>
                <span>khuyến mãi</span>
                <span>muahe</span>
            </div>
        </div>
    </div>
    <div>
        @RenderBody()
    </div>
</body>
</html>
